.curriculumBox {
    margin: 100px 0;
}

.curriculumButton {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 30px;
    text-align: center;
    background-color: white
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}