body {
    background-color: lightblue;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    font-family: courier;
    font-size: 160%;
}
p.error {
    font-family: verdana;
    font-size: 200%;
}
.lower {
    font-size: 100%;
}